.east {
  background-color: rgb(78, 204, 253);
}
.west {
  background-color: rgb(255, 87, 87);
}

.Southeast {
  color: yellow;
}
.Atlantic {
  color: green;
}
.Central {
  color: purple;
}
.Pacific {
  color: orange;
}
.Southwest {
  color: black;
}
.Northwest {
  color: white;
}
